footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #666;
  color: #ccc;
  text-align: center;
  border-top: 8px solid;
  border-color: #4aaaa5;
  font-size: 10px;
  clear: both;
} 

body {
    background: url("concrete_seamless.png") repeat; 
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 16px;
}

header {
    background: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;

}

.everything {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: auto;

}

h1 {
    float: left;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    float: right;
    padding: 40px 0px;
    width: 230px;
    text-justify: auto;
}

a {
    color: #777; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    padding-right: 10px;
} 

section {
    background: #fff;
    max-width: 650px; 
    width: 100%;
    padding: 20px;
    overflow: auto;
    margin: 40px 0px; 
    border: 1px solid #ddd;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0px;
}

.break {
    background: #ddd;
    height: 2px;
    margin: 20px 0px;
}

/*About page content*/
#prof-pic {
    width: 200px;
    height: 150px;
    float: left;
    margin: 0px 20px 0px 0px;
}

p {
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.clear {
    clear: both;
}

/*Portfolio page content*/

.container, .container-2, .container-3, .container-4 {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}

.port {
    width: 200px;
    height: 200px;
} 

h4 {
    background: #4aaaa5;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 16px 0px;
    max-width: 200px;
    position: absolute;
    bottom: 16px;
    width: 100%;
}

/*Contact page content*/
label {
    display: block;
    width: 100%;
    padding: 10px 0px;
}

input, textarea {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    padding: 5px;
}

textarea {
    height: 5em;
}

button {
    background-color: #4aaaa5;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 0%;
    margin-top: 10px;
}

/*Connect with me Content */
aside {
    max-width: 270px;
    width: 100%;
    padding: 20px 20px 40px 20px;
    background: #fff;
    margin: 40px 0px; 
    border: 1px solid #ddd;
}

h3 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
}

.contact {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}




@media screen and (max-width: 980px) {
   .general {
       width: 75%;
   } 

   section {
       max-width: 55%; 
   } 

   #prof-pic {
       width: 100%;
       height: auto;
   }

   aside {
       max-width: 25%;
   }
   
} 

@media screen and (max-width: 768px) {
     everything {
         width: 90%;
     }
  
     section {
         max-width: 90%;
     } 
  
     aside {
         float: left; 
         max-width: 768px;
         width: 90%;
     }
    body {
        background: white;

     }
     
 } 


@media screen and (max-width: 640px) {

    h1 {
        padding: 0;
        width: 100%;
        line-height: 34px;
    }
    nav {
        width: 100%;
    }
 
    section {
        width: 100%; 
    } 
 
    #prof-pic {
        width: 100%;
        height: auto;
    }
 
    aside {
        width: 100%;
    }

    body {
        background: white;
    }